@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url('../imagens/fundo-madeira.jpg') no-repeat center top fixed;
    background-size: cover;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#telefone {
    position: absolute;
    background: transparent url('../imagens/frame-iphone.png') no-repeat;
    width: 250px;
    height: 504px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela {
    position: relative;
    top: 13%;
    left: 7%;
    height: 378px;
    width: 214px;
}

section#botoes {
    text-align: right;
}

section#botoes img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
}

section#botoes img:hover {
    border: 2px solid rgba(255, 255, 255, 0.678);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    transition: transform 0.5s, border 1s;
}